body {
  background-image: url("arvore.jpg");
  background-size: cover;       /* ajusta a imagem para cobrir toda a tela */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição da imagem */
}
