@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


body {
    background-color: darkslategray;
}
.ex1 {
    font-family: 'Courier New', Courier, monospace;
}
ex2 {
    font-family: 'Times New Roman', Times, serif;
}
.ex3 {
    font-family: Arial, Helvetica, sans-serif;
}
.ex4 {
    font-family: 'Lucida Console', 'Courier New', monospace;
}
.ex5 {
    font-family: 'Georgia', serif;
}
.ex6 {
    font-family: 'Verdana', sans-serif;
}
.ex7 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.ex8 {
    font-family: 'Impact', Charcoal, sans-serif;
}
.ex9 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.ex10 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
.ex11 {
    font-family: 'Arial Black', Gadget, sans-serif;
}
.ex12 {
    font-family: 'Brush Script MT', cursive;
}

.ex-google-fonte {
    font-family: 'Noto Sans Japanese', sans-serif;

}