body {
    background-color: aliceblue;
}

ex1 {
    width: 400px;
    height: 300px;
    background-color: lightcoral;
}
.div1 {
    background-color: maroon;
}
.ex2{
    background-color: aquamarine;
}