body {
    background-color: darkslateblue;
}
.ex1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
}
.ex2 {
    text-decoration-line: overline;
    text-decoration-style: wavy;
    text-decoration-color: green;
}
.ex3 {
    text-decoration-line: line-through;
    text-decoration-style: dashed;
    text-decoration-color: blue;
}